@font-face {
    font-family: neu;
    src: url(./assets/NeueHaasDisplayRoman.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #fbfbfb;  
    position: relative; 
    padding:0 2vw;
}
nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
nav h3{
    font-size: 2.2vw;
    color: rgb(27, 74, 0);
}
.nav_part2{
    display: flex;
    align-items: center;
    gap: 1vw;

}
.nav_part2 h4{
    padding: 15px 15px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    color: rgb(47, 47, 47);
    overflow: hidden;
    transition: all ease 0.3s;
}
.nav_part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 61, 4);
    border-radius: 50px;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    font-size: 18px;
}
.nav_part2 h4:hover::after{
    bottom: 0;
    border-radius: 0px;
}
.nav_part2 h4 a{
    text-decoration: none;
    color: rgb(0, 71, 2);
    position: relative;
    z-index: 10;
}
.nav_part2 h4:hover a{
    color: white;
}
.center{
    height: 80vh;
    width: 100%;
    display: flex;
    /* background: orange; */
    align-items: flex-end;
    justify-content: space-between ;
    border-bottom: 1px solid rgb(137, 137, 137);
    padding-bottom: 5vw;
}
.left h3{
    width: 25vw;
    font-size: 2vw;
    line-height: 2vw;
}
.right h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
.page1 video{
    margin-top: 3vw;
    width: 100%;
    border-radius: 30px;
    position: relative;
}
.hero-shape{
    position: absolute;
    width: 46vw;
    height: 30vw;
    right: 0;
    top: 81vh;
}
.hero1{
    background-color: rgb(0, 255, 4);
    height: 100%;
    width: 100%;
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);

}
.hero2{
    background-color: rgb(123, 255, 0);
    height: 30vw;
    width: 30vw;
    position: absolute;
    /* transform: rotate(90deg); */
    border-radius: 50%;
    filter: blur(20px);
    animation-name: anima;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.hero3{
    background: linear-gradient(rgb(255, 255, 0),rgba(47, 255, 0, 0.998));
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: anime;
    animation-duration: 4s; 
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anima{
    from{
        transform: translate(0%,0%)
    }
    to{
        transform: translate(-22%,11%);
    }
}
@keyframes anime{
    from{
        transform: translate(0%,0%)
    }
    to{
        transform: translate(-7%,-11%);
    }
}