@font-face {
    font-family: neu;
    src: url(./assets/NeueHaasDisplayRoman.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #EDEAE2;  
    position: relative; 
}
nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.nav_part2{
    display: flex;
    align-items: center;
    gap: 1vw;

}
.nav_part2 h4{
    padding: 10px 15px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    color: rgb(47, 47, 47);
    overflow: hidden;
    transition: all ease 0.3s;
}
.nav_part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 30px;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    font-size: 18px;
}
.nav_part2 h4:hover::after{
    bottom: 0;
    border-radius: 0px;
}
.nav_part2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 10;
}
.nav_part2 h4:hover a{
    color: white;
}
.center{
    height: 65vh;
    width: 100%;
    display: flex;
    background: orange;
    align-items: flex-end;
    justify-content: space-between ;
}
.left{

}