@font-face {
    font-family: neu;
    src: url(./assets/NeueHaasDisplayRoman.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;  
    position: relative; 
    padding:0 2vw;
}
nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
nav h3{
    font-size: 2.2vw;
    color: rgb(18, 50, 0);
}
.nav_part2{
    display: flex;
    align-items: center;
    gap: 1vw;

}
.nav_part2 h4{
    padding: 15px 15px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    color: rgb(47, 47, 47);
    overflow: hidden;
    transition: all ease 0.3s;
}
.nav_part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 45, 3);
    border-radius: 50px;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    font-size: 18px;
}
.nav_part2 h4:hover::after{
    bottom: 0;
    border-radius: 0px;
}
.nav_part2 h4 a{
    text-decoration: none;
    color: rgb(0, 71, 2);
    position: relative;
    z-index: 9;
}
.nav_part2 h4:hover a{
    color: white;
}
.center{
    height: 80vh;
    width: 100%;
    display: flex;
    /* background: orange; */
    align-items: flex-end;
    justify-content: space-between ;
    border-bottom: 1px solid rgb(137, 137, 137);
    padding-bottom: 5vw;
}
.left h3{
    width: 25vw;
    font-size: 2vw;
    line-height: 2vw;
}
.right h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
.page1 video{
    margin-top: 3vw;
    width: 100%;
    border-radius: 30px;
    position: relative;
}
.hero-shape{
    position: absolute;
    width: 46vw;
    height: 30vw;
    right: 0;
    top: 81vh;
}
.hero1{
    background-color: rgb(0, 255, 4);
    height: 100%;
    width: 100%;
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);

}
.hero2{
    background-color: rgb(145, 255, 43);
    height: 30vw;
    width: 30vw;
    position: absolute;
    /* transform: rotate(90deg); */
    border-radius: 50%;
    filter: blur(20px);
    animation-name: anima;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.hero3{
    background: linear-gradient(rgb(208, 255, 0),rgba(47, 255, 0, 0.998));
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    filter: blur(20px);
    animation-name: anime;
    animation-duration: 4s; 
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes anima{
    from{
        transform: translate(0%,0%)skew(-12deg);
    }
    to{
        transform: translate(-22%,11%)skew(14deg);
    }
}
@keyframes anime{
    from{
        transform: translate(0%,0%)skew(10deg);
    }
    to{
        transform: translate(-7%,-11%)skew(-12deg);
    }
}
.page2{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    padding: 6vw 0;
    position: relative;
}
.moving-text{
    overflow-x: auto;
    white-space: nowrap;
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moving-text h1{
    font-size: 8vw; 
    display: inline-block;
}
.gola{
    height: 3vw;
    width:3vw;
    display: inline-block;
    background-color: greenyellow;
    border-radius: 30px;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.page2-bottom{
    height: 80vh;
    width: 100%;
    background-color: transparent;
    padding: 3vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
.page2-bottom h1{
    font-size: 2vw;
    width: 50%;
    line-height: 2vw;
}
.bottom-part2{
    width: 20%;
}
.bottom-part2 img{
    width: 90%;

}
.bottom-part2 p{
    margin: 1vw;
    font-weight: 100;
} 
.page2 .gooey{
    width: 25vw;
    height: 25vw;
    background: linear-gradient(to top right,rgb(130, 255, 47),rgb(229, 255, 0));
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 25%;
    filter: blur(16px);
    animation-name: gooey;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes gooey{
    from{
        transform:translate(10%,-7%) skew(-6deg);
    }
    to{
        transform: translate(-10%,7%)skew(14deg);
    }
} 
.page3{
    width: 100%;
    height: 100vh;
    background-color: transparent;
}